.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.image{
  width: 100%;
  height: 600px;
  margin-top: 40px;
}
/* .rat{
  width: 100%;
  height: 50px;
  border: 1px solid red;
  background-color: rgb(12, 2, 2);
 
} */
.rat {
  grid-column: 3/4;
 background-color: rgb(17, 15, 15);
  border: 1px solid rgb(109, 107, 107);
 
  
}

.rat ul {
  height: 7rem;
 color: white;
  display: flex;
 /* border: 1px solid white; */
 
  justify-content: space-around;
  align-items: center;
}
.rat ul li {
 
  margin: auto 20px auto 20px;
 
  
}

.rat ul li a {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: white;
  transition: 0.5s;
}
.rat ul li h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: white;
  transition: 0.5s;
}
.rat ul li 
h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: white;
  transition: 0.5s;
}
.social-media{

  border: 1px solid red;
}
/* .social-media ul{
  height: 30px;
  display: flex;
 
  justify-content: space-around;
  align-items: center;

}
.social-media ul li{
  height: 30px;
  width: 50px;
  border:  1px solid blue;
  justify-content: space-around;
  align-items: center;

}
 */
 .foot{
  width: 100%;
  height: auto;
  background-color: rgb(5, 5, 90);
  color: white;
  
  gap:100px;
  /* margin-left: 50px; */
  margin: auto;
}
.footers{
  display: flex;
  grid-template-rows: repeat(4,150px);
  margin-left: 14%;
  gap:100px
  

}
.dis{
  width: 100%;
  background-color: rgb(20, 19, 19);
  color:white;
  margin: auto;
 
}
a{
  text-decoration: none;
}
img:hover{
  cursor: pointer;
}

.digital{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;

}

